.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 15px 0;
}
.container .text-muted {
    margin: 15px 0;
    color: #333;
}
.footer-auth {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.container .text-muted-auth {
    margin: 15px 0;
    color: #fff;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.login .btn-primary, .login .btn-default {
    color: #fff;
}
